<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css" />
<title>Vue JS Example</title>

<div id="app">
    <main>
        <div>
            <h1>Vue JS Example</h1>
            <hr />
            <button @click="fetchUsers">Fetch Users</button>
            <select v-if="users.length" v-model="userFilters.gender" @change="filterUsers">
                <option value="all">All</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <input v-if="users.length" type="text" @input="filterUsers" v-model="userFilters.search" placeholder="Search users...">
        </div>
        <p v-if="users.length">{{userCount}} / {{totalUsers}} users</p>
        <table id="tbl-users">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Age <button v-if="users.length" @click="sortUsers">{{userFilters.age === 'no' ? '↑' : (userFilters.age === 'asc' ? '⇅' : '↓')}}</button></th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in filteredUsers" :key="user.login.uuid">
                    <td><img :src="user.picture.thumbnail" alt=""></td>
                    <td>{{ user.name.first }} {{ user.name.last }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.dob.age }}</td>
                    <td>{{ user.gender === 'male' ? '👨' : '👩' }}</td>
                </tr>
            </tbody>
        </table>
    </main>
</div>


<script>
    // Fill the table with https://randomuser.me/api/?results=20 when clicking the `fetch-users` button
    // Add Age column
    // Add gender column, with two different emojis
    // Filter user by gender
    // Sort user by age
    // Search user by name
    // Add users instead of replacing them.

    const { createApp, ref } = Vue

    createApp({
        setup() {
            const users = ref(localStorage.getItem('users') ? JSON.parse(localStorage.getItem('users')) : []);
            const filteredUsers = ref(localStorage.getItem('filteredUsers') ? JSON.parse(localStorage.getItem('filteredUsers')) : []);
            const userFilters = ref(localStorage.getItem('userFilters') ? JSON.parse(localStorage.getItem('userFilters')) : {
                'age': 'no',
                'gender': 'all',
                'search': ''
            });
            const userCount = ref(filteredUsers.value.length);
            const totalUsers = ref(users.value.length);

            const fetchUsers = async () => {
                try {
                    const response = await fetch("https://randomuser.me/api/?results=20");

                    if (!response.ok) {
                        throw new Error(`Erreur lors de la récupération des utilisateurs : ${response.status} ${response.statusText}`);
                    }

                    const data = await response.json();
                    
                    users.value = [...users.value, ...data.results];
                    totalUsers.value = users.value.length;
                    userCount.value = users.value.length;
                    filteredUsers.value = [...users.value];

                    localStorage.setItem('users', JSON.stringify(users.value));
                    localStorage.setItem('filteredUsers', JSON.stringify(filteredUsers.value));
                    localStorage.setItem('userFilters', JSON.stringify(userFilters.value));
                } catch (error) {
                    console.log(`Une erreur est survenue : ${error.message}`);
                    return [];
                }
            }

            const filterUsers = () => {
                filteredUsers.value = [...users.value];

                if (userFilters.value.gender !== 'all') {
                    filteredUsers.value = filteredUsers.value.filter(user => user.gender === userFilters.value.gender);
                }

                if (userFilters.value.search) {
                    const normalize = str => str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
                    const search = normalize(userFilters.value.search);
                    const searchParts = search.split(' ');

                    filteredUsers.value = filteredUsers.value.filter(user => {
                        const first = normalize(user.name.first);
                        const last = normalize(user.name.last);

                        if (first.startsWith(search) || last.startsWith(search)) return true;

                        if (searchParts.length === 2) {
                            return first.startsWith(searchParts[0]) && last.startsWith(searchParts[1]);
                        }
                        return false;
                    });
                }

                localStorage.setItem('filteredUsers', JSON.stringify(filteredUsers.value));
                localStorage.setItem('userFilters', JSON.stringify(userFilters.value));
                userCount.value = filteredUsers.value.length;
            }

            const sortUsers = () => {
                if (userFilters.value.age === 'asc') {
                    filteredUsers.value.sort((a, b) => a.dob.age - b.dob.age);
                    userFilters.value.age = 'desc';
                } else if (userFilters.value.age === 'desc') {
                    filteredUsers.value.sort((a, b) => b.dob.age - a.dob.age);
                    userFilters.value.age = 'no';
                } else {
                    filteredUsers.value.sort((a, b) => a.login.uuid.localeCompare(b.login.uuid));
                    userFilters.value.age = 'asc';
                }

                localStorage.setItem('filteredUsers', JSON.stringify(filteredUsers.value));
                localStorage.setItem('userFilters', JSON.stringify(userFilters.value));
            }

            return {
                users,
                userFilters,
                fetchUsers,
                filterUsers,
                sortUsers,
                filteredUsers,
                userCount,
                totalUsers
            }
        }
    }).mount('#app')
</script>